.caret-menuDropdown-position {
    top: -15px;
    left: calc(90% - 0.6em);

}

.dropdown-menu-size {
    width: 250px;
}

.mobile-login{
    border-top: 1.3px solid #33333327;
}

.rounded-circle-navbar {
    width: 40px;
    height: 40px;
    font-size: 1rem;
    border: 0.5px solid #3333333b;
}