@keyframes slideLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.animate-image-column-left {
    animation: slideLeft 0.7s forwards;
    border-top-left-radius: 1em ;
    border-bottom-left-radius: 1em;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.animate-image-column-right {
    animation: slideRight 0.7s forwards;
    border-top-right-radius: 1em ;
    border-bottom-right-radius: 1em ;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}


