.fullscreen-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    z-index: 1050; 
}

.purchase-col-card{
    max-width: 20.5em;
}

.purchase-col-info{
    min-width: 20em;
}
@media (min-width: 1200px){
    .purchase-container{
        min-width: 75.5rem;
    }
}



