.fullscreen-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    z-index: 1050;
}


.purchase-col-card {
    max-width: 20.5em;
}

.input-group-cep-container:focus-within .input-group-btn-cep-margin-top {
    margin-bottom: 1.5em;
}

@media (min-width: 1200px) {
    .purchase-container {
        min-width: 75.5rem;
    }
}

@media(max-width: 1100px) {
    .purchase-col-card {
        max-width: none !important;
        padding-inline: 0 !important;
    }
}

.card-body-freight {
    height: 85px;
    overflow-y: auto !important;
}

.card-modal-select-address {
    cursor: pointer;
}


@media (max-width: 600px) {
    .image-carousel {
        max-width: 19em !important;
        max-height: 19em !important;
    }

    .container-image-carousel {
        max-width: 19em !important;
        max-height: 19em !important;
    }

    .card-value-purchase {
        border: none !important;
    }


}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.no-spinners {
    appearance: textfield; 
    -moz-appearance: textfield; 
}

.no-spinners[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield; 
}