.gradient {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(180deg, transparent, #ebebeb);
}

.carousel-indicators {
  margin-bottom: 4em;
}


.carousel-container-home {
  padding: 0 !important;
  max-width: 1920px !important;
}

.slick-prev::before,
.slick-next::before {
  font-size: inherit;
  z-index: 50050 !important;
}

.slick-prev.slick-disabled, .slick-next.slick-disabled {
  opacity: 0.2;
  cursor: default; 
}

@media(min-width: 1200px){
  .slider-container{
    min-width: 1250px;
  }
}