.caret-menuDropdown-position {
    top: -15px;
    left: calc(90% - 0.6em);
}

.caret-menuDropdown-position-cart-empty{
    top: -15px;
    left: calc(87% - 0.6em);
}

.dropdown-menu-size {
    width: 250px;
}

.dropdown-menu-cart-size {
    width: 19.875em;
}

.battery-cart-dropdown {
    max-height: 13em;
    overflow-y: auto;
}

.mobile-login {
    border-top: 1.3px solid #33333327;
}

.col-name-circle-mobile{
    border-bottom: 1.3px solid #33333327;
}

.rounded-circle-navbar {
    width: 40px;
    height: 40px;
    font-size: 1rem;
    border: 0.5px solid #3333333b;
}


.rounded-circle-navbar-collapse {
    width: 55px;
    height: 55px;
    font-size: 1.5rem;
    border: 0.5px solid #3333333b;
}

.navbar-brand-image{
    cursor: pointer;
}
.custom-font-size {
    font-size: 11px !important; 
  }