body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    background-color: #ebebeb !important;
}

#root {
    height: 100% !important;
}

.color-gray {
    color: #a3a29f;
}

.bg-yellow {
    background-color: #fec117;
}

.color-yellow {
    color: #fec117;
}

.bg-red {
    background-color: #c00d0d;
}

.bg-table-header {
    background-color: #f0f0f0 !important;
}

.bg-main {
    background-color: #ebebeb !important;
}

.dropdown-no-caret .dropdown-toggle::after {
    display: none;
}

.hover-color-red:hover {
    transition: 0.3s !important;
    color: #f11100 !important;
}

.color-red {
    color: #f11100;
}

.btn-yellow {
    background-color: #fec117;
    color: #ffffff;
}

.btn-yellow:hover {
    transition: 0.3s !important;
    background-color: #f11100 !important;
    color: white !important;
}

.btn-red {
    background-color: #c00d0d;
    color: white !important;
}

.btn-red:hover {
    transition: 0.3s !important;
    background-color: #ffdc00 !important;
}

.btn-red-outline {
    color: #f11100;
    border-color: #f11100;
}

.btn-red-outline:hover {
    transition: 0.3s !important;
    background-color: #f11100 !important;
    color: white !important;
}


.list-group {
    --bs-list-group-bg: none !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: black;
    background-color: #f8f9fa
  }


  .loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #ffdc00;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

.custom-scrollbar {
    scrollbar-width: thin; 
    scrollbar-color: #888 #f1f1f1; 
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px; 
    height: 8px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.custom-scrollbar {
    scrollbar-width: thin; 
    scrollbar-color: #888 #f1f1f1; 
}

.custom-scrollbar {
    -ms-overflow-style: none; 
}

.custom-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.custom-mask-color::placeholder {
    color: #54575a !important; 
}